
<h2 class="page-header">{{ output }}</h2>

    <form class="form-inline" name="addTimeForm">

        <div class="form-row align-items-center" id="id-profile-row">
            <div class="form-group col-auto time-div" id="time-div">
              <label for="medTime">Medication Times</label>
              <input type="text" name="medTime" id="medTime" value="" placeholder="8am, 12pm, 5pm, etc.">
              <label for="addMed">Enter Meds Here</label>
              <input type="text" name="addMed" id="addMed" value="" placeholder="Vicodin, Aspirin, Ritalin, etc.">
              <input type="hidden" id="joint">
              <input class="btn btn-primary btn-add-time" type="submit" value="Add" name="add-time">
            </div>
            <div class="form-group col-auto med-div" id="med-div">
              {{!-- <label for="medTime">Medication Times</label>
              <input type="text" name="medTime" id="medTime" value="" placeholder="8am, 12pm, 5pm, etc."> --}}
              {{!-- <input class="btn btn-primary btn-add-med" type="submit" value="Add" name="add-med"> --}}
            </div>
        </div>
      <!-- </div> -->
    </form>
    <!-- <div class="row"> -->
    <div class="row">
      <div class="col-xs-6">
        <ul class="timeList" id="time-list">
          {{!-- <li>
            <button class="btn btn-block med-list-button" type="submit" value="8am" name="button">8am</button>
          </li>
          <li>
            <button class="btn btn-block med-list-button" type="submit" value="12pm" name="button">12pm</button>
          </li>
          <li>
            <button class="btn btn-block med-list-button" type="submit" value="5pm" name="button">5pm</button>
          </li> --}}
        </ul>
      </div>
    <!-- </div> -->
    <div class="col-xs-6">
      <ul class="medList" id="med-list">
        {{!-- <li>
          <button class="btn btn-block med-list-button" type="submit" value="Vicodin" name="button">Vicodin</button>
        </li>
        <li>
          <button class="btn btn-block med-list-button" type="submit" value="Multi-vitamin" name="button">Multi-vitamin</button>
        </li> --}}
      </ul>
    </div>
  </div>

<script src="../js/profile.js"></script>