<h2 class="page-header">Your Dashboard</h2>

    <form class="form-inline" action="index.html" method="post">
      <!-- <div class="form-row"> -->
        <!-- <div class="form-group">
          <label for="medTime">Med Time</label>
          <select multiple class="custom-select" size="1" id="medTime" name="time1" aria-describedby="selectMultiple">
            <option value="12am">12:00AM</option>
            <option value="1am"> 1:00AM</option>
            <option value="2am"> 2:00AM</option>
            <option value="3am"> 3:00AM</option>
            <option value="4am"> 4:00AM</option>
            <option value="5am"> 5:00AM</option>
            <option value="6am">6:00AM</option>
            <option value="7am">7:00AM</option>
            <option value="8am">8:00AM</option>
            <option value="9am">9:00AM</option>
            <option value="10am">10:00AM</option>
            <option value="11am">11:00AM</option>
            <option value="12pm">12:00PM</option>
            <option value="1pm">1:00PM</option>
            <option value="2pm">2:00PM</option>
            <option value="3pm">3:00PM</option>
            <option value="4pm">4:00PM</option>
            <option value="5pm">5:00PM</option>
            <option value="6pm">6:00PM</option>
            <option value="7pm">7:00PM</option>
            <option value="8pm">8:00PM</option>
            <option value="9pm">9:00PM</option>
            <option value="10pm">10:00PM</option>
            <option value="11pm">11:00PM</option>
          </select>
          <small id="selectMultiple" class="form-text">Control-click (Windows) or command-click (Mac) to select more than one.</small>
        </div> -->
        <div class="row">
            <div class="form-group col-md-10">
              <label for="patientName">Patient Name</label>
              <input type="text" name="patientName" id="patientName" value="" placeholder="Johnny, John Doe, etc.">
            </div>
            <div class="buttonDash col-md-2">
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
      <!-- </div> -->
    </form>

    <div class="col-xs-offset-6 col-xs-6">
      <ul class="made-patient-list">
        <li>
          <button class="btn btn-block btn-primary" type="submit" value="Ethan" name="button">Ethan</button>
        </li>
        <li>
          <button class="btn btn-block btn-primary" type="submit" value="Caleb" name="button">Caleb</button>
        </li>
        <li>
          <button class="btn btn-block btn-primary" type="submit" value="Noah" name="button">Noah</button>
        </li>
        <li>
          <button class="btn btn-block btn-primary" type="submit" value="Isaac" name="button">Isaac</button>
        </li>
        <li>
          <button class="btn btn-block btn-primary" type="submit" value="Levi" name="button">Levi</button>
        </li>
      </ul>
    </div>
