
<h1>{{ title }}</h1>
<p class="page-header">My Dashboard{{ title }}</p>

<form action="" method="" class="form-inline addPatientForm" id="addPatientForm" name="addPatientForm">

        <div class="row">
            <div class="form-group col-md-12">
              <label for="patientName">Patient Name</label>
              <input type="text" name="patientName" id="patientName" value="" placeholder="Johnny, John Doe, etc.">
              <input class="btn btn-primary" type="submit" value="Add" id="btnAdd">
            </div>
        </div>
    </form>

    <div class="col-xs-offset-6 col-xs-6">
      <ul class="made-patient-list" id="patient-list">

      </ul>
    </div>

		<script src="../js/dashboard.js"></script>

